[2017-12-14 15:28] jcalfee opened #1 "Add initilization as a separate process"
Two functions can be performed and re-used in future requests for random keys:

- [ ] Gather extra entropy (cpu for example)
- [ ] Run some base unit tests to ensure libraries are working as expected

[2017-12-14 17:43] #1 closed

[2018-03-31 18:59] ellipticasec opened #2 "Buffer not exported prevents using various functions, like recover"
You are not exporting Buffer (safe-buffer) in the root object and this prevents from using certain function like recover, which expects a Buffer object.

[2018-04-04 15:19] ellipticasec commented on #2
[code]

[2018-04-04 15:34] chris-allnutt commented on #2
@ellipticasec can you put that into a PR request?

[2018-04-04 15:43] jcalfee commented on #2
It should probably be `{Buffer}` or better yet `ecc.Buffer = Buffer` in the line below..  I think I can add it, that is very easy.  Package and package-lock.json needs to be updated too..

[2018-04-04 15:43] jcalfee commented on #2
What version of eosjs-ecc are you using?

[2018-04-04 15:59] jcalfee commented on #2
I'm not using safe-buffer so I looked into this.  I am using babel es2015 though and I noticed that the new Buffer.from is being used in the transpiler's output (./lib) .. I'm not sure if es2015 includes a safe-buffer implementation or not.

That said, I should be es2015 complaint already so I believe that I should not require this safe-buffer package.  If you know otherwise let me know.

So, the

[2018-04-06 17:31] #2 closed

[2018-04-06 17:37] jcalfee commented on #2
Ok .. I'm going on vacation next week so I'm closing out tickets..

So can you use a string?  (option a)

[2018-04-06 17:39] jcalfee commented on #2
In dawn2 a signature is hex string .. in dawn3 is it a long EOS prefixed base58 string..

[2018-04-06 17:48] ellipticasec opened #3 "Unable to reliably recover Public Key deterministically from transaction"
I have test cases based on 2 signatures produced by the EOS C++ executable and I am unable to reliably (works or fails depending on signature) recover the Public Key matching the Private Key that was used for those signatures.

Keypair : `EOS6MRyAjQq8ud7hVNYcfnVPJqcVpscN5So8BhtHuGYqET5GDW5CV` / `5KQwrPbwdL6PhXujxW37FSSQZ1JiwsST4cqQzDeyXtP79zkvFD3`

Signatures:
`EOSK5yY5ehsnDMc6xcRhsLYzFuZGUaKwb4hc

[2018-04-06 17:48] ellipticasec commented on #3
@abourget ^^

[2018-04-06 18:29] jcalfee commented on #3
As a side note, I recall now that the `data` parameter can be a string, but that the string is treated as utf-8 (so hex data does not work).  That default should probably be changed from from utf-8 to hex.  If large binary or utf-8 were needed, it would be reasonable to expect a Buffer object.

[2018-04-06 21:34] jcalfee opened #4 "Add encoding parameter for a Signature's data"
Adding an encoding parameter will make it possible to use hex strings helping to avoid the requirement to use a Buffer in the API (allows for hex strings).

Update: sign, verify, and recover methods..

This change applied to the recover method: https://github.com/EOSIO/eosjs-ecc/commit/b62b37c67caf99a3cf9936ba9107727da8405173

[2018-04-06 21:36] jcalfee commented on #2
Here is an API improvement that will let you provide the `data` string and specify the encoding `hex` .. so the buffer will not be needed.

moved to: https://github.com/EOSIO/eosjs-ecc/issues/4

[2018-04-07 04:01] abourget commented on #3
@jcalfee are you aware of any changes recently about canonical signatures?

I've implemented something very similar to the JS algorithm (wrapping https://github.com/btcsuite/btcd/tree/master/btcec ) and I keep getting errors from the server (intermittent, though) saying the signature isn't canonical.

Have you worked on canonicalizing your sigs?

[2018-04-07 15:12] hyunwoongJi opened #5 "It seems that there is typos. npm run build -> npm run build_browser"
https://github.com/EOSIO/eosjs-ecc/blob/master/README.md#browser

[2018-04-07 16:43] hyunwoongJi commented on #5
I have checked that in v.3.0.2 "build_browser" command is a subcommand of "build" command

[2018-04-07 16:43] #5 closed

[2018-04-08 13:34] jcalfee commented on #3
No recent changes on my side.  I will need to check the server side as soon as I find some time.

[2018-04-11 13:06] jcalfee commented on #3
@abourget no changes .. the back-end error is "signature is no canonical" .. Two files match, and recent changes to one involves porting to FreeBSD.

https://github.com/EOSIO/eos/search?utf8=%E2%9C%93&q=%22signature+is+not+canonical%22&type=

[2018-04-11 13:07] jcalfee commented on #3
@ellipticasec is the problem still happening.. I noticed the transaction expiration dates were are apart maybe it was an error somewhere else?

[2018-04-17 09:27] angelol opened #6 "npm run build does not build eosjs-ecc.js"
Output of npm run build:

----
Angelos-iMac:eosjs-ecc al$ npm run build

src/aes.js -> lib/aes.js
src/api_common.js -> lib/api_common.js
src/api_object.js -> lib/api_object.js
src/common.test.js -> lib/common.test.js
src/config.js -> lib/config.js
src/ecdsa.js -> lib/ecdsa.js
src/ecsignature.js -> lib/ecsignature.js
src/enforce_types.js -> lib/enforce_types.js
src/hash.js -> lib/hash.js
src/index.

[2018-04-17 16:07] jcalfee commented on #6
The target is: `npm run build_browser`

Is there any reason to have that in "build" ?  I did not include it in the main build because when this package is included in another npm project this library is not used, only the files in the lib directory.

[2018-04-17 18:12] angelol commented on #6
Thanks, Jcalfee. But in the Readme it says:

# Browser

[code]

That means the readme needs to be updated, no?

[2018-04-17 18:15] jcalfee commented on #6
fixed, thank you

[2018-04-17 18:15] #6 closed

[2018-04-23 07:09] seita-uc opened #7 "correct HDWallet derivation path for EOS keys"
I would like to know the correct derivation path in order to derive EOS keys from mnemonic phrases. Now I am referring to [SatoshiLab](https://github.com/satoshilabs/slips/blob/master/slip-0044.md)'s list of coin types for BIP44. Please let me know if it is wrong.

[2018-04-23 16:03] seita-uc commented on #7
I really appreciate your detailed explanation. This is of great help to me :)

[2018-04-24 01:52] seita-uc commented on #7
I got one more question: In which level of private key is recommended to use as standard? For example, which level is used at [generate EOS keys](https://eos.io/instructions) in eos.io?

[2018-04-24 17:25] jcalfee commented on #7
Generate EOS Key at eos.io is non-deterministic (completely random).

@dskvr can you please update us on how a EOS claim will happen (does this still need an account name for example)?

You can probably setup a deterministic claim key by using a MASTER_SALT that includes the chain ID concatenated with some words 'EOS Claim Key' and something else to make the claim key unique for the user for each

[2018-04-25 07:59] jhomephper opened #8 "what is this problem? Cannot find module 'eosjs-ecc' ,after sudo npm install --unsafe-perm"
code:
const ecc = require('eosjs-ecc')

[2018-04-25 17:07] jcalfee commented on #8
Not sure what your doing or trying to do.. If you installed the package as sudo are you then running node as sudo?  I never have to use sudo with npm .. ,

It says running as root (sudo) will switch this to false.. Looks like your turning it back on.

Unsafe-perm is poorly documented here at npmjs ..
https://docs.npmjs.com/misc/config#unsafe-perm

One comment here added a boolean after that parame

[2018-04-27 19:35] jcalfee opened #9 "Common API ecc.sign should return new signature format (base58) instead of hex format."

[2018-04-27 19:35] #9 closed

[2018-04-29 04:01] iWtbAbh opened #10 "Can I use eosjs-ecc to decrypt wallet file? If not, what should I do?"
Hello, I have a test wallet and the content is
[code]
Can I use eosjs-ecc to decrypt it? If not, what should I do?

Please help me, thank you.

[2018-04-30 13:47] jcalfee commented on #7
For "Generate EOS Key" aka (EOS Claim Key), normalization is as follows:
* chainId (all lowercase hex string)
* 'EOS Claim Key' case sensitive string concatenation
* ethAddress - Validate the ETH Address ensuring it starts with `0x` and that the [checksum matches](https://github.com/ethereum/EIPs/issues/55).  If the address is valid, use this as the 3rd and final concatenation and proceed with the

[2018-04-30 15:27] jcalfee commented on #10
You need to know all about the format in cipher_keys .. The decryption is all AES 256 bit and found here:

https://github.com/EOSIO/eosjs-ecc/blob/v3.0.3/src/aes.js#L125

Using these libraries and your own implementation is actually very little code and apart from a learn curve can be very easy to do.  Just make sure you get a code review to be sure your not breaking a security rule.  There are se

[2018-04-30 22:01] #4 closed

[2018-04-30 22:07] jcalfee commented on #2
Recover, sign, and verify have an encoding parameter that should help your case.  I released eosjs-ecc 3.1.0 at npm (eosjs-ecc@dawn3) .. Let me know if you need eosjs released too with this new version, otherwise I'll put that out on the next release of eosjs..

https://github.com/EOSIO/eosjs-ecc/commit/08911edb815ba87eaf5e89b160a29eee2c874d53

[2018-05-01 08:25] iWtbAbh commented on #10
it's very helpful to me, thanks!

[2018-05-01 08:25] #10 closed

[2018-05-02 06:26] yepp4you opened #11 "No delimiter in string, cannot determine type Error"
It seems that the signature has changed in eos.
It seems that we need to make changes.
libraries/fc/src/crypto/signature.cpp
   static signature::storage_type parse_base58(const std::string& base58str)
   {
      constexpr auto prefix = config::signature_base_prefix;

      const auto pivot = base58str.find('_');
      FC_ASSERT(pivot != std::string::npos, "No delimiter in string, cannot determine

[2018-05-04 18:54] jcalfee commented on #11
The signature error is fixed and published under: eosjs@10.0.0 (also eosjs@dawn3) ..

[2018-05-04 18:59] BinaryFocus commented on #11
I've just tested this and it seems to be working. Thank you!

[2018-05-04 20:35] nsjames commented on #11
They must be driving you crazy James :)

[2018-05-04 23:29] crypto5000 commented on #11
Confirmed. Now works for me, too. James is a rock star with these turnarounds.

[2018-05-06 16:40] jcalfee opened #12 "Standardize public, private, and signature key formats"
I would like to standardize on this format: PUB_K1_xxx and PUB_R1_xxx and SIG_xxx. The original WIF private and EOS public key can be accepted but the format would be normalized to the new format.

Back end changes to the private, public, and signature formats:
https://github.com/EOSIO/eos/commit/573be193254661b1c9d47b4467080ed992dac15c

Delimiter changed from `.` to `_` https://github.com/EOSIO/e

[2018-05-06 16:41] jcalfee commented on #11
The other changes are moved to this ticket: https://github.com/EOSIO/eosjs-ecc/issues/12

[2018-05-06 16:41] #11 closed

[2018-05-07 09:38] seita-uc commented on #7
Thanks to your help, I could successfully derived my eos pub/priv key from my mnemonic 👍.
Thank you very much!

[2018-05-07 09:38] #7 closed

[2018-05-08 01:49] songsongMr opened #13 "When developing a web wallet, how do you combine eosjs-ecc with eosjs to complete the signature verification process of the transaction?"

[2018-05-08 01:57] jcalfee commented on #13
eosjs-ecc is already included in eosjs .. You'll probaby see an example that does what you want in the [README](https://github.com/EOSIO/eosjs/blob/master/README.md)..

The only reason why you want eosjs-ecc alone is if you only want to work with private keys offline..

[2018-05-08 02:10] songsongMr commented on #13
what the Application scenarios of the sign of eosjs-ecc .

[2018-05-08 02:18] songsongMr commented on #13
Using an account to initiate a request to eos,, it seems that eos is just to check whether his private key is in keyProvider, if in the request is successful. What is the use of signatures in ecc?

[2018-05-08 13:27] jcalfee commented on #13
Signatures are used anytime your writing data to the blockchain..    Reading data is public and does not need any private key or signature.

[2018-05-08 18:02] #8 closed

[2018-05-09 04:02] songsongMr commented on #13
I'm not sure if my understanding of the signature is correct.I hope to get your advice. Could you show me an example . Thank you so much!
eos.transaction({
          actions: [
            {
              account: 'tester',
              name: 'reguser',
              authorization: [{
                actor: 'tester',
                permission: 'active'
              }], //Is this the signature?

[2018-05-10 13:49] jcalfee commented on #13
Is there a reason your using eos.transaction?  Can you instead pull the contract and call reguser directly?

Never put a password in a transaction like this.. It will be instantly seen by the entire network..  You'll probably need to change this to use public key private key security..
[code]

[2018-05-17 19:39] johnconger opened #14 "Creating Address from my own Mnemonic/Seed"
`let bip39 = require('bip39');

let {PrivateKey, PublicKey} = require('eosjs-ecc')

let privateWif;
let Address;

let sampleMnemonic = "fun swamp jump history obvious scare struggle deputy cannon village buzz state power play expose moral million lift gravity size chalk grocery scout toss";
let seed = bip39.mnemonicToSeed(sampleMnemonic);
const privateKey = PrivateKey.fromBuffer(seed);
 privateWif

[2018-05-18 15:20] jcalfee commented on #14
You should probably has with something after the mnemonic seed to make sure it is unique to EOS..

This is more like a spec, you could just take part of this and use it:  https://github.com/EOSIO/eosjs-ecc/issues/7#issuecomment-383617273

[2018-05-19 09:19] xntop opened #15 "Is there support RN package to use?"
Is there support RN package to use?

[2018-05-19 11:05] jcalfee commented on #15
RN package?

[2018-05-19 13:52] xntop commented on #15
@jcalfee yea, react native lib.

[2018-05-19 20:03] dengzz commented on #7
could use this one for EOS keys?
`
const hdkey = require('hdkey')
const wif = require('wif')
const ecc = require('eosjs-ecc')
const assert = require('assert')
const bip39 = require('bip39')
const mnemonic = 'real flame win provide layer trigger soda erode upset rate beef wrist fame design merit'
const seed = bip39.mnemonicToSeedHex(mnemonic)
const master = hdkey.fromMasterSeed(Buffer(seed, 'hex'))

[2018-05-19 20:06] dengzz commented on #14
Could use this one for EOS keys?

const hdkey = require('hdkey')
const wif = require('wif')
const ecc = require('eosjs-ecc')
const bip39 = require('bip39')
const mnemonic = 'real flame win provide layer trigger soda erode upset rate beef wrist fame design merit'
const seed = bip39.mnemonicToSeedHex(mnemonic)
const master = hdkey.fromMasterSeed(Buffer(seed, 'hex'))
const node = master.derive("m/44'

[2018-05-19 21:47] jcalfee commented on #14
In my opinion, HD Keys are better suited for change addresses.  EOS does not have change addresses.

[2018-05-19 21:50] jcalfee commented on #15
Lol .. guess I answered that question.  I don't have a RN package.  Eosjs-ecc should work though, it does not use local storage or any window or document objects.  Have you tried it?

[2018-05-20 03:28] dengzz commented on #14
could use this one to generate EOS keys for EOSTM Token Distribution?

[2018-05-20 03:50] cdlgz commented on #14
Up, I have the same question.

[2018-05-20 14:43] xntop commented on #15
@jcalfee I have tried it and it works well， thanks

[2018-05-21 11:38] #15 closed

[2018-05-22 14:26] zhjjj opened #16 "PrivateKey.fromWif not support compressed WIF format"
It seems that PrivateKey.fromWif doesn't support WIF with compressed format.
When I use a WIF private key with compressed format, some warning shows up:
`WARN: Expecting 32 bytes, instead got 33, stack trace: Error`
And I can get a result from the function. However, the result is not correct.

So I read the souce code. PrivateKey.fromWif will generate a BigInteger from buffer generated from WIF fo

[2018-05-22 15:21] jcalfee commented on #16
How did you create this private key?

[2018-05-22 17:20] jcalfee commented on #12
This is finished.. We can make a new ticket for the R1 curve.  A use-case for R1 would help if we need to add that..

[2018-05-22 17:20] #12 closed

[2018-05-24 07:41] XuNeal opened #17 "Why use hash concatenating more zero bytes when calculating K"
Hey everyone
I want to known why EOS need the lenR and lenS are both 32 , It's not a requirement in ethereum.

[code]

and why to generate a new K by changing the hash.
[code]
Is it possible to get the correct K only with the following code?
[code]

Thanks

[2018-05-24 15:14] jcalfee commented on #16
published eosjs-ecc@4.0.1

[2018-05-24 15:14] #16 closed

[2018-05-25 03:58] abourget commented on #17
EOS uses the compact signature serialization format, and forces it to be so, to have consistent length. It'll pump up the nonce one by one to make sure it can have a compact format. The goal is to have, for a given payload, one and only one valid signature.

That nonce in the second code is there to tweak the content (it adds "\0x00", then "\0x00\0x00", etc..) when the top-level loop (which is a f

[2018-05-28 17:36] filipniziol opened #19 "Encrypt data using public key, decrypt using EOS private key"
Is it possible to add an assymetric encryption options to the library so it is possible to encrypt the data using one's public key and then decrypt the data using one's private key using the same algorithm as the one used for signing the transactions?

There is only symmetric encryption available when both keys are needed

[2018-05-29 11:43] jcalfee commented on #19
You could encrypt the message for yourself using `encryptedBuffer = Aes.encrypt(myPrivate, myPublic, 'message')` ..  That is designed to encrypt messages for other users though (instead of myPublic it would typically read otherPublic).

[2018-05-29 11:51] jcalfee commented on #19
Correct, that is the only case so far..  I'm not sure what you mean by using the same algorithm as signing..

This may be the logic your looking for:
https://download.libsodium.org/doc/secret-key_cryptography/authenticated_encryption.html

This is the javascript compiled version and is large:
https://github.com/jedisct1/libsodium.js

In any event, libsodium is probably a good guide on exactly how

[2018-05-29 15:06] masonhunk opened #20 "signing alogrithm in eosjs-ecc yields different signature from that in eos!"
Hi,

I'm working on signature related development and I find that  signing alogrithm in eosjs-ecc yields different signature from that in eos!!!! Both tag is dawn-v4.0.0.

Reproduce steps:

Firstly let's generate a signature from eos networks.

1 ) Let's have a transaction, for example:

{"expiration":"2018-05-23T07:29:11","ref_block_num":1,"ref_block_prefix":2,"max_net_usage_words":3,"max_cpu_usa

[2018-05-29 15:50] jcalfee commented on #20
Thanks for all the helpful commands ..  I'll work up a unit test and review implementations as soon as possible ..

Related: https://github.com/EOSIO/eosjs/issues/121

[2018-05-29 18:55] filipniziol commented on #19
I think I was not precise: "You could encrypt the message for yourself using encryptedBuffer = Aes.encrypt(myPrivate, myPublic, 'message')" -> This is the example of symmetric encryption.

I am interested in assymetrcic encryption EOS is using for example to generate the key pairs used to sign the transactions. What algorithm is being used?
And I understand: we sign the transaction with private ke

[2018-05-29 20:57] jcalfee commented on #19
This is usually how this is done:
[code]
I do not see a struct to hold an encrypted field with the nonce, data, and checksum..

[2018-05-29 21:45] chris-allnutt commented on #19
@filipniziol eosjs is not concerned with encryption of content, while it falls under the area of cryptography our usage is for signing of transactions that can be verified.  You could encrypt the message send it then decrypt it but that would be outside of eos-js's use case.

[2018-05-29 23:33] jcalfee opened #21 "Improve asset precision handling and validation"
Mimic the cleos wallet: assets that are not on the blockchain can derive precision from the amount.
[code]

However, any asset on the blockchain will have the current behavior in eosjs and always get and validate with a precision derived from the contract's `stats.max_supply` value.

[2018-05-29 23:35] jcalfee commented on #21
moved: https://github.com/EOSIO/eosjs/issues/136

[2018-05-29 23:35] #21 closed

[2018-05-30 02:36] masonhunk commented on #20
Hi jcalfee,

Thanks for the reply:)

[2018-05-30 06:54] filipniziol commented on #19
@chris-allnutt So the answer is that the question is out of scope.
Still I wonder how I can encrypt the message using the algorithm you use for signing the transactions (encrypt with pub key, and decrypt with private key)
I close the issue, but if you find some time I have an open issue on stack exchange:
https://eosio.stackexchange.com/questions/506/encrypt-data-using-public-key-decrypt-using-eos

[2018-05-30 06:54] #19 closed

[2018-05-30 22:55] jcalfee commented on #20
Related https://github.com/EOSIO/eosjs-ecc/issues/17

[2018-05-31 22:14] jcalfee commented on #20
How did you get `v1/wallet/sign_transaction` to work?  My test key is in keosd  but this API is directly on nodeosd..

[2018-06-01 02:50] masonhunk commented on #20
Before my program call this signing interface, it will call wallet related rpc on 8888 to make sure that the wallet is unlocked and already imported the keys to sign :)

[2018-06-02 11:04] masonhunk commented on #20
Hi ,

Any update?

[2018-06-02 11:49] jcalfee commented on #20
I'm working on this today ..  A few simple things to get out of the way first..  Fortunately DPoS affords us some protection.  Deterministic is better though.

[2018-06-03 15:30] XuNeal commented on #20
Hey @jcalfee And @masonhunk, I have read the eos code, and compared the different between the eos and eosjs-ecc carefully. Now I can modify the eosjs-ecc to produce the same result with eos.

follow the @masonhunk testcase:
![image](https://user-images.githubusercontent.com/10441775/40888081-b45208f2-6784-11e8-97a9-3d4fd3f159b3.png)

And the result is：
![image](https://user-images.githubuserconten

[2018-06-04 02:19] goldenfiredo commented on #13
would you please show how to work with private key offline with eosjs-ecc? Thanks.

[2018-06-04 18:15] jcalfee commented on #20
An update..

The canonical1 unit test I just checked in is the example above and includes @XuNeal's PR #22.  It passes if I use the original method of checking for a canonical signature:

[code]
This happens to be the most efficient when compared to the one below.

I have some confusion though, the other related ticket https://github.com/EOSIO/eosjs/issues/121 references a Go implementation using

[2018-06-04 18:15] jcalfee commented on #20
An update..

The canonical1 unit test I just checked in is the example above and includes @XuNeal's PR #22.  It passes if I use the original method of checking for a canonical signature:

[code]
This happens to be the most efficient when compared to the one below.

I have some confusion though, the other related ticket https://github.com/EOSIO/eosjs/issues/121 references a Go implementation using

[2018-06-08 04:15] XuNeal commented on #20
@jcalfee I wonder where the canonical2 come from, maybe that case is wrong. I test sign 32 bytes zero in the cpp version of eos, and I get the same result with eosjs-ecc.

The test code:
[code]

The output:
[code]

[2018-06-08 11:08] masonhunk commented on #20
another case:

the digest is "6cb75bc5a46a7fdb64b92efefca01ed7b060ab5e0d625226e8efbc0980c3ddc1"
the private key: 5KQwrPbwdL6PhXujxW37FSSQZ1JiwsST4cqQzDeyXtP79zkvFD3

the eos v4.1.0 yields: SIG_K1_Kk1yUXAG2Cfo2qvWuJiyvaGdwZBQ1HzSf4EZ9arUTWBL4kTngLM1GSUU59bJUVAqwJ886CNQMcR7mmx323gjQGvhEU8WpX

using the code by the above pr, it yields:
SIG_K1_K7ZppaTdB9w8RKCLRC9kVwMhjGgCGRmBsfTVVYuVNKoFRgh6DNHuSEyKEs

[2018-06-11 09:15] masonhunk commented on #20
Any good news?

[2018-06-12 08:56] XuNeal commented on #20
@masonhunk
Sorry, I had a weekend, and thanks, you find a bug. In eos the initial value of nonce is 1. I have fixed that with commit:01419633630da42bd76c21503cadb4298cee1ad9

If you want to check the sign method in eos, here it is:
[code]
And the implement of secp256k1_nonce_function_default is:
[code]

[2018-06-13 02:38] XuNeal commented on #17
https://steemit.com/steem/@dantheman/steem-and-bitshares-cryptographic-security-update

The blog show why the eos require canonical signatures.
I will close this issue, thanks @abourget and @jcalfee

[2018-06-13 02:39] #17 closed

[2018-06-13 19:01] jcalfee commented on #13
Anywhere you see `wif` in the README that is working with a private key in the API .. Do you have a more specific question?

[2018-06-13 19:02] jcalfee commented on #13
All method calls are "offline" .. there are no network API requests in this package.

[2018-06-15 03:53] masonhunk commented on #20
Hi ,

I think I've got the point.

After I read the source c code that EOS use(https://github.com/cryptonomex/secp256k1-zkp.git), I got some insights of signing logic. The thoughts is simple: the algorithm generates a sequence of k by rfc6979(which ensures that the k sequence is determinestic) until it find a k that provides valid signature.

For the implementation , there is a "retrycounter"(call

[2018-06-16 15:22] crazybits opened #23 "the aes api is not easy to use, consider to enhance it ?"
too much infor is required for existing aes api ,can we enhance to something like:

[2018-06-19 07:39] XuNeal commented on #20
Hi @masonhunk
If you read my comment carefully, you will find I have a commit to skip first K.

![image](https://user-images.githubusercontent.com/10441775/41583370-c02b2a42-73d6-11e8-8ccc-4687474c75dd.png)

Whatever, you have described the problem cleanly.  Great Job

[2018-06-19 10:00] sehgal12 commented on #13
@jcalfee  Hi, One of the action in my smart contract require multiple permission(from user and admin). Can you suggest me the way to get the transaction signed by the user, receive it and sign it by admin and finally push to the blockchain?

[2018-06-20 19:43] jcalfee commented on #23
I probably need to deprecate these.  They use to be used for memo encryption but we don't have support for this in nodeos ..  Until we have a usage and a standard I can't say that these will stick around.

[2018-06-21 15:51] crazybits commented on #23
@jcalfee  thanks for the infor, i am using crypto-js now as a alternative to encrypt and decrypt the private key

[2018-06-21 22:39] #23 closed

[2018-06-24 08:50] luoyhang003 opened #24 "Wrong syntax when using 'assert'"
https://github.com/EOSIO/eosjs-ecc/blob/dfa56afa6e28b93f9bce1b3b27ab8758589043c0/src/key_private.js#L138

There should not be 3 parameters in calling assert function.

[2018-06-24 15:56] antbaobao opened #25 "I can't use it in react native"

[2018-06-24 16:33] chris-allnutt commented on #25
I would recommend implementing signing on the device with native code. React native doesn't provide all methods needed for our ecc last time we addressed this issue.

[2018-06-24 16:33] #25 closed

[2018-06-25 15:35] jcalfee commented on #24
thank you!

[2018-06-25 15:35] #24 closed

[2018-06-26 16:01] jcalfee opened #26 "Browser friendly deployment"

[2018-06-29 16:22] #26 closed

[2018-07-10 04:17] warrick-eosny opened #28 "ecc.recover() does not seem to function as expected"
The below code signs a string "123" and then called recover .. for some reason the key returned does not match the expected key. Please explain or flag as bug.

The output of the below looks as follows:
123
SIG_K1_K1K6bCbJ9AqxYgeYLGxqtG4MhiyBodTqGsjEeeGcguBTWpBEg54rywEGkNUYbn9uPF7QtCUo9sD8XKd7By3FbJDd78cY9m
recovered key: EOS5Q36JqHkTrsBuEufZTFLgKn7YQ582ew6STCFWmwVTuEFEgERec

[code]

[2018-07-12 00:50] jcalfee commented on #13
The keyprovider is an array of private keys only .. See the README here: https://github.com/EOSIO/eosjs

[2018-07-12 02:40] jcalfee commented on #28
try `cc.recover(sign, action, 'hex')`

[2018-07-12 02:58] warrick-eosny commented on #28
Ah drat, it's always the simplest thing. Thank you sir, that did it.

[2018-07-12 02:58] #28 closed

[2018-07-12 06:49] frankli1224 commented on #13
@jcalfee ,Thank you! I will read the readme file. Thank you!

[2018-07-12 07:05] frankli1224 commented on #13
@jcalfee , Hello again! I found this in readme file

"keyProvider [array<string>|string|function]"

I wonder how to write the "array<string>" for private keys, because I have give two private keys in the key provider, one for active key one for owner key

[2018-07-12 16:15] jcalfee commented on #13
`keyProvider = ['5KELKQohNbdoJ2MRmHPQh6ef7tFWSpBQ1gCpcjkNKER7hWczwCZ', '5J38vcyy1CVR9NeAArrZfeAUzjyGEAzJZmJ7paLHqJYKQo6hQC9']`

[2018-07-19 11:15] HomeRobot opened #29 "I need example of encoding and decoding string via public and private key."
I mean the scenario when Alice sign/encrypt message via public key of Bob and than Bob decode the message use own private key.

[2018-07-20 12:02] jcalfee commented on #29
You need to work with `Eos.modules.ecc.PrivateKey` and the raw data.  Here is an example that gets you to the raw 32 private key bytes:
[code]

Here is the Object API: https://github.com/eosio/eosjs-ecc#usage-object-api

[2018-07-20 12:11] jcalfee commented on #29
You'll have to do this in your own code though like Chris pointed out..

Often Bob and Alice will calculate a shared secret and use that to encrypt.. Something like this is used below but you'll have to adapt it.

This example uses signing instead of encryption and client server instead of Alice and Bob.  But this one way to do it.  You could use the shared secret (one-time key) for encrypting and

[2018-07-28 12:54] jcalfee commented on #16
This change is very safe.  It allowed additional valid private keys (more spec like) to get parsed.  There is not burn address possible.

[2018-07-28 15:17] RayMetz100 commented on #16
I have four compressed private keys I generated with iancoleman/bip39.  I put them in the pre-launch key checker tools and  had the tools hash me matching public keys.  I registered the public keys with 170 eos. Pre launch.  Today I can still put my same private keys into the key checker tools and generate the same matching public keys that I registered, because the key checkers still have the 0x0

[2018-07-28 20:44] jcalfee commented on #16
Do you have a web tool for this?

Please tell me which one your using:

[2018-07-28 21:42] RayMetz100 commented on #16
All of these still have the same bug
  https://github.com/eoscafe/eos-key or https://github.com/webdigi/EOS-Offline-Private-key-check or https://github.com/eosamsterdam/eos-keypair-check

[2018-07-28 23:11] jcalfee commented on #16
Thanks for the links .. I am just looking for 1 case..  All private keys start with "5" ..  I'm not sure what your saying..  This one gives some test keys but it imports and converts just fine:
[code]

[2018-07-29 00:47] RayMetz100 commented on #16
Both cleos and all three private key checkers accept the K/L formatted compressed private keys too.  Notice when you use any K/L private key, the public key between cleos and the key checkers becomes different.  I thought this was the 0x01 bug you were describing, but maybe not.

Importing any uncompressed leading 5 private key gives the same public key in both the key checkers and cleos so there

[2018-07-30 17:16] jcalfee commented on #16
@RayMetz100 I was able to recreate the issue.  The public key is not necessarily a burn address.  I'm still researching this and we will not know for sure until you can change your keys or transfer the funds.

Recent versions of eosjs-ecc are fixed (after the 0x01 commit above).

---
I was able to get the correct public key in recent versions of eosjs and cleos using a test key:

[code]

![image](

[2018-07-30 21:55] jcalfee commented on #16
I reported the issue to: https://nodesecurity.io  .. Hopefully they will make one of those `npm audit` reports soon.

[2018-07-30 22:06] jcalfee commented on #16
When upgrading, please use the script integrity hash attribute..  In new releases, hashes are published here: https://github.com/EOSIO/eosjs-ecc/releases.

Examples:
[code]

[code]

[2018-07-31 01:41] RayMetz100 commented on #16
Thanks a lot James.  I'll hold on to my old private keys in case they are useful someday.  Please make sure all three key checkers from the three BPs get your update script integrity logic.

All of these still have the same bug
https://github.com/eoscafe/eos-key
https://github.com/webdigi/EOS-Offline-Private-key-check
https://github.com/eosamsterdam/eos-keypair-check

There are likely others.  I'm

[2018-07-31 13:26] jcalfee commented on #16
I have built a tool that tries to recover an account like yours on the testnet.  I had partial success validating a signature with one of these keys but it only worked in eosjs-ecc.  The signature is still being rejected by the testnet.

https://github.com/jcalfee/eosjs-ecc-compression-tweak

[2018-07-31 18:37] jcalfee commented on #16
All that happens here: https://github.com/jcalfee/eosjs-ecc-compression-tweak/blob/1da4b1f4a67b8a836be3524a6f00a2394a4ded39/index.html#L66-L74

[2018-07-31 21:34] RayMetz100 commented on #16
Would this give me a private key that i can import into cleos and cleos will show the same public key that I registered?  I'm not home at the moment, but I will give it a try with a new bugged example keypair first.

wif = 'L5TCkLizyYqjvKSy6jg1XM3Lc4uTDwwvHS2BYatyXSyoS8T5kC2z'

ecc = Eos.modules.ecc

unintendedPrivate = ecc.PrivateKey(privateCompressionTweak(wif))

console.info('Corrected Private

[2018-08-01 00:08] RayMetz100 commented on #16
This is the code I modified to turn my bad private key and registered public key, into a working private key with same registered public key.  I haven't tested moving real funds yet, but it looks good.

1. download and unzip https://github.com/jcalfee/eosjs-ecc-compression-tweak/tree/1da4b1f4a67b8a836be3524a6f00a2394a4ded39

2. copy the below html into a new file named showkeys.html, save in the s

[2018-08-01 00:38] RayMetz100 commented on #16
ecc.PrivateKey(privateCompressionTweak(inputKey)) returns the same input private key.

Can we make a new NewMatchedPrivateKey() function that will accept privateCompressionTweak(inputKey), but return a working non bugged private key that matches the the same public key as unintendedPrivate.toPublic()?

I need some time to understand the below code and see if there are any clues on how to generate

[2018-08-01 14:32] jcalfee commented on #16
yes and yes

There is probably no point in getting an unattended private key out, it is not valid anywhere else.

The only way I see to fix this, is to create a signature that will get accepted by the network.  That is going to involve getting into the signature generation and checking algorithms.  I did have an open PR in eosjs-ecc that helped but did not get me far enough to have the signature a

[2018-08-01 15:04] jcalfee commented on #16
I'll be happy to help you with the BPs and 911.  With the tweak you can prove you own the account.  I was able to do a recovery in eosjs-ecc using the unintended key.  We could probably use that so you could prove ownership by your signing with the buggy key.

It is better that they change the keys rather than do a fund raiser because a fix could come out later where this unintended key might actu

[2018-08-01 17:03] RayMetz100 commented on #16
I registered new keypairs with EOS911 to these 4 pre-launch accounts:

https://etherscan.io/address/0x8ce4f9605510b965c13da14b58b3885f24e777b1
https://etherscan.io/address/0x0768fdb45bf5299e1573713ddebbb34fa8e0eabd
https://etherscan.io/address/0x782579f066badf7a3cf943b51f8b79bf696e17cc
https://etherscan.io/address/0xf1cb1fb0e61d526747504d6d29f9e7ffa6bed2c6

My new EOS keypars all have leading 5s a

[2018-08-01 20:11] jcalfee commented on #16
I was able to recover the account on the junglenet ..  The account updated and the keys were changed to the intended "non-buggy" public key.

The signing algorithm has a nonce counter that creases potentially several signatures then stops at the first one it likes.  I added that code and changed the nonce so it started with zero instead of one.  I was going to try nonce values by hand for a while

[2018-08-01 21:48] RayMetz100 commented on #16
Awesome.  I'll give it a try.

[2018-08-02 01:47] RayMetz100 commented on #16
Thanks so much.  I just recovered this account on mainnet.  https://eosflare.io/account/g43donzqgmge
It worked first time and I didn't have to adjust the nonce.

I will try my other three.

[2018-08-02 01:58] RayMetz100 commented on #16
All my accounts worked first try.  I can log into all of them with Scatter.  All airdrops are there.  Since I rebought on Binance, now I have double the EOS.  woot!  Thank you so much!!!

[2018-08-08 17:33] MarcelBlockchain commented on #25
Check out https://github.com/EvaCoop/eosjs-react-native

[2018-08-14 02:10] #29 closed

[2018-08-14 02:10] #13 closed

[2018-08-14 07:36] MarcelBlockchain opened #31 "sign & broadcast transaction separately"
moved issue to https://github.com/EOSIO/eosjs/issues/306

[2018-08-14 07:40] #31 closed

[2018-08-15 05:04] venediktov commented on #20
Hi @jcalfee is this issue related to a snag I am hitting with ETH/EOS signature incompatibility in 4 our of 10 times in my tests ?
Please see my ETH/EOS recovery tests here
https://github.com/venediktov/cplusplus/blob/master/eth_eos.js
If you run it few times you will see signatures from ETH stop matching signatures from EOS for the same private key. Is it something to do with 4 attempts checking

[2018-08-16 18:58] jcalfee commented on #20
I had several developers check on this.  Signatures on this chain for a given hash and private key do not need to match, they need only be canonical and valid.  All the variations discussed are valid canonical signatures.  So, I removed the bug label.

There is still some testing to do for variations of deployment size and performance:
* Adjust the k value per the RFC6979 sepc (k=0)
* Test with [s

[2018-08-16 19:00] jcalfee commented on #20
Signatures are not unique.  Always recover a public key..

[2018-08-16 19:41] venediktov commented on #20
@masonhunk , @jcalfee , @XuNeal  , why do we even need this loop ? ETH only adjusts `s` period . I removed the loop and eos/eth/eosjs-ecc/eth-crypto  all in sync now. With this loop I had problems with some private keys it was not recovering public key correctly.

[2018-08-16 20:36] jcalfee commented on #20
The loop is necessary to find a signature that will pass canonical in nodeos.  If a public key can't be recovered a valid transaction would fail; this is not an issue with eosjs + nodeos...

[2018-09-04 11:18] crazybits commented on #7
Slip48 is recommended

https://github.com/satoshilabs/slips/blob/master/slip-0048.md

[2018-09-04 13:45] jcalfee commented on #7
@crazybits Sip48 does not cover role hierarchies ..  Where active is a child of owner.  Although role hierarchies can be completely ignored in key derivation if you want too.  What do you think about the role hierarchies in EOS?

It is a way to introduce a non-hardened path (without the Sip48 tick `'`) but with strings and no public chain code support.  So if you have the owner private you can cre

[2018-09-04 13:49] jcalfee commented on #7
Please don't get carried away with this one.  I should mention though that the ECC math used for public / private chain codes did work for me when I used large numbers like arbitrary role names in EOS .. It is the spec that locks it down to numbers not the math .. It is actually just hashing the role ID to get the public or private key.  Using numbers allows for better discovery without an index a

[2018-09-08 13:56] c1pca commented on #7
As far as I know Ledger uses BIP-0044/SLIP-0044 ("m/44'/194'/0'/0/0").

[2018-09-18 12:47] qiushaoxi opened #34 "add pubkey encrypt and privkey decrypt function"
add pubkey encrypt and privkey decrypt function

[2018-09-20 08:31] jacktang opened #35 "Can I convert signature string (SIG_K1_...) to eos signature struct(uint8)"
Hello,

I generate the signature using `ecc.Signature.signHash(sha256hash, privateKey).toString()` and how can I convert to eos signature struct?

P.S:
[code]

[2018-09-20 08:49] jacktang commented on #35
well, i got the answer now so that close it.

[2018-09-20 08:49] #35 closed

[2018-10-01 12:00] youfeed opened #36 "pubkey =“XXX”"
Hello, how do I formulate the prefix for generating the public key in the browser?

This library is very comprehensive. Thank you.
ecc.privateToPublic(wif) === pubkey

[2018-10-01 12:16] youfeed commented on #34
我也很需要这个，前端也需要审核一次提交的

[2018-10-01 21:43] abourget commented on #20
I'd really like to get to the bottom of this.  Here's my analysis (we've had similar requests in `eos-go`):

https://github.com/eoscanada/eos-go/pull/36#issuecomment-426054503

We've create a small repo to compare the different implementation (see in my comment therein). There's a lot of versions and PRs to compare.. if some want to help out.

[2018-10-24 12:26] tarassh opened #37 "checkDecode has incorrect checksum check"
<img width="954" alt="image" src="https://user-images.githubusercontent.com/5903550/47429963-9a674b00-d7a0-11e8-86fc-ef30d6f0b48a.png">

Test Key `EOS8ddPoePGrH4x1mha1RHcbjU1cAWWFLWqBQF6Q35RrTsZdLouC1` has incorrect checksums but pass if statement at https://github.com/EOSIO/eosjs-ecc/blob/master/src/key_utils.js#L218

[2018-10-26 06:37] peony-ma opened #39 "没有提供 dts 文件吗"
没有提供 dts 文件吗

[2018-10-27 13:00] yashwanth2804 opened #40 "Check if encrpted msg will be decrpted/valid one"
If alice encrypt msg for bob (she may encrypt or not for bob),how can some one ensure that msg will be decrypted by bob (without bob involment)

[2018-11-21 01:46] foonsun commented on #20
Hi,Do you mean that the signatures used by eosjs-ecc  and nodeos are both valid? If I use nodeos recover function:

[code]

Can the function recover the public key from signatures of eosjs-ecc ?thanks

[2018-12-04 07:32] qiushaoxi opened #41 "what is the usage of cpuEntropyBits in randomKey function"
randomKey
Parameters
cpuEntropyBits number gather additional entropy from a CPU mining algorithm. This will already happen once by default. (optional, default 0)

---------

what is different of cpuEntropyBits in 10 of by default 0?

[2018-12-06 03:15] free-snail opened #42 "the multiplyTwo 's Inverse operation"
var Q = R.multiplyTwo(s, G, eNeg)

If i know the Q,R,S,G value  how can i get the eNeg value?

[2018-12-06 04:01] liyun2060 commented on #42
and what's mean is multiplyTwo
R.multiplyTwo(s, G, eNeg) = r*s +G*eNeg
but R and G  struct as
(100000000000000000,1000000000000000)

[2018-12-06 14:40] liyun2060 commented on #42
I know it. But how the multiply function  's  Inverse

[2018-12-13 20:33] #42 closed

[2018-12-18 15:31] shwuhk commented on #35
@jacktang May I know how did you do that finally?

[2018-12-26 12:31] rahil471 opened #43 "Get base58 public key from hex"
Not sure if this is the right place for this question.

However here is the problem.

I'm trying get the public key from my ledger nano S.
[code]

This is the response I get.

Is there any way I can use this library to get the public key in the right format.
I tried using ecc.privatetoPublic(wif) but ti didn't work (remove the eos prefix - got some checksum error.)

Can you in anyway help me with

[2018-12-28 06:19] rahil471 commented on #43
My bad wif was the public key in this case

[2018-12-28 06:19] #43 closed

[2019-01-25 10:29] mohit-lala opened #44 "private publick key conversion not working for jungle testnet 2"
I create new account on eos jungle testnet 2
with public key : EOS5G3Zg9w8CKAe38ksuqD7KS2P7NjGUjowwvF9YweET86KoNECMf
when using the corresponding private key, they are not matching when converting with eos-ecc
please update things according to eos jungle testnet 2

[2019-02-20 03:57] WhaleEx commented on #35
@jacktang May I know how did you do that finally?

[2019-02-27 15:23] HimanshuSingh2308 opened #46 "same public key for different private keys"
try to generate the public key for these two private keys you will get an exact same public key
1. 5KhV5DqYYLYuxKkFjNZj7vGTYFUP8wux1ND4xArGYeLb1rKbNjR
2. 5KhV5DqYYLYuxKkFjNZj7vGTYFUP8wux1ND4xArGYeLb1rKbNjS

is it the limitation of the ECC ????

[2019-03-18 13:04] UMU618 opened #48 "ecc.isValidPublic() return false on some valid public keys"
[ecc.isValidPublic('EOS5K6ag7t87u3F4jdkmt73wQtd9oprQFyJsp6vskrrwoQoPqcPdE7') return false #489](https://github.com/EOSIO/eosjs/issues/489)

**Version**
eosjs 20.0.0-beta3
eosjs-ecc 4.0.4

**Describe the bug**
1. ecc.isValidPublic() return false on 2 public keys of account 1255gdpaftgs
2. Point.decodeFrom() report 'Invalid sequence tag'

**To Reproduce**

1. get the public keys of 1255gdpaftgs

2.

[2019-04-04 07:02] tkddn204 opened #50 "Where is 'checksum256' type?"
Hello, I'd studied eosjs-ecc, I'd like use string of `checksum256` type.
But I can't find this type. Where can I find `checksum256`?
I NEED this type of js.

[2019-04-09 21:56] antonio-fr commented on #48
Maybe related to this ?
https://github.com/EOSIO/eosjs-ecc/pull/38/files

[2019-04-14 19:42] warrick-eosny opened #51 "Export ecdsa calcPubKeyRecoveryParam"
I'm trying to create a new Signature. I already have the r and s value for the signature. Getting i what I'm having a hard time with.

[code]

Currently I'm using the calcPubKeyRecoveryParam method in this external sourced ecdsa library to get the i value, however that library is depreciated and also has problem when run through webpack + uglify.
https://github.com/cryptocoinjs/ecdsa

I see eosjs-

[2019-04-17 02:12] eayllon1 opened #52 "Does not work with React Native Expo"
First issue: React Native doesn't include node core modules.

Second issue: Once node core modules installed via https://github.com/tradle/rn-nodeify other problems show up.

[2019-04-19 21:18] nksanthosh opened #53 "WebAuthn support needed"
Related to:
https://github.com/EOSIO/eos/issues/7012
https://github.com/EOSIO/eosjs/issues/537

[2019-05-16 08:40] UMU618 commented on #48
No.

The checksum of EOS8ddPoePGrH4x1mha1RHcbjU1cAWWFLWqBQF6Q35RrTsZdLouC1 is wrong, should be EOS8ddPoePGrH4x1mha1RHcbjU1cAWWFLWqBQF6Q35RrTsZdLouCm.

my issue is about unexcepted type, not checksum.

[2019-06-14 08:12] cppfuns opened #57 "Can the toPublic method add an XX parameter for user-defined use?"
https://github.com/EOSIO/eosjs-ecc/blob/2063257e8d02e82ce4ca1d0fdadf451281b33d1e/src/key_private.js#L62

### Original edition
[code]
### Revised
[code]

https://www.bcskill.com/index.php/archives/700.html

[2019-06-20 19:33] sgehrman opened #58 "Remove import of old bytebuffer. Can't build a library that includes eosjs-ecc"
I'm trying to build an NPM package that includes eosjs-ecc.  When I build it I get this:

 WARNING in ./node_modules/bytebuffer/dist/bytebuffer-node.js
    Module not found: Error: Can't resolve 'memcpy' in '/home/steve/Documents/GitHub/aikon/ore-js/node_modules/bytebuffer/dist'
     @ ./node_modules/bytebuffer/dist/bytebuffer-node.js
     @ ./node_modules/eosjs-ecc/lib/aes.js
     @ ./node_module

[2019-07-16 00:49] ajose01 commented on #46
Moving over from telegram and raising the same issue here:
[code]

[2019-07-17 09:58] jafri opened #60 "Faster elliptic library"
The following library compiled to WASM is 10x faster than the elliptic library currently used by eosjs-ecc:
https://github.com/bitcoin-core/secp256k1?

Worth a look for the team

[2019-07-18 01:13] ajose01 commented on #46
Doing some additional tests... it seems that `ecc.checkDecode` should have thrown a checksum error. Manually following the steps I see the following when using the 2nd key aka bad key `5JnRmBMYoBP7z2zKufcgEsj3cfWsjFtd74ghj7oYaLe3f8NSruA`

Bad key:
[code]

Good Key:
[code]

[2019-07-18 05:33] HimanshuSingh2308 commented on #46
Hi,
We already aware of this issue it's not the problem from out side instead
it's the problem in the "ecc" library.
When two point are too close on the curve it generates same public key we
already raise an issue on the GitHub but no response for the developers of
ecc .

Thanks and Regards
Himanshu Singh
KOINEx| Software Developer

On Thu, 18 Jul, 2019, 6:43 AM Angel Jose, <notifications@github.c

[2019-07-23 12:43] angelol commented on #58
@sgehrman Have a look at our branch: https://github.com/rawrat/eosjs-ecc-priveos

We have replaced browserify-aes with something more secure and it no longer contains bytebuffer.

[2019-07-26 15:39] bkawk opened #62 "'@types/eosjs-ecc@latest' is not in the npm registry."
Please publish the types

[2019-08-16 07:51] yyh1102 commented on #62
No one response?

[2019-08-16 09:38] bkawk commented on #62
not yet I'm still waiting

[2019-08-16 22:20] gnollio commented on #58
I'm having the same issue. Thanks for the alternative @angelol.

[2019-09-19 16:53] Trevor-Ultra commented on #62
Attempting to get this merged... https://github.com/EOSIO/eosjs-ecc/pull/63/commits/037919f60d944617f51ce59aab6ad23bd204b66f

[2019-09-25 00:01] Trevor-Ultra commented on #62
This has been resolved and can be closed.

[2019-11-07 06:05] bkawk commented on #62
After installing 4.0.7 I still get the error
[code]
and
[code]

[2019-11-22 09:14] epochchaser opened #67 "mnemonic"
hi,
i lost my private key, but have mnemonic.

is there any way to solve this problem?....

[2020-02-10 11:18] rahul1083 opened #71 "UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'map' of undefined"
Getting error on account creation :-
const defaultPrivateKey = "5KQwrPbwdL6PhXujxW37FSSQZ1JiwsST4cqQzDeyXtP79zkvFD3"; // bob
const signatureProvider = new JsSignatureProvider(['5KQwrPbwdL6PhXujxW37FSSQZ1JiwsST4cqQzDeyXtP79zkvFD3']);
const api = new Api({ rpc, signatureProvider, textDecoder: new TextDecoder(), textEncoder: new TextEncoder() });

const result = await api.transact(
    {
        acco

[2020-02-24 21:38] jlamarr22 commented on #71
Clarified on https://github.com/EOSIO/eosjs/issues/688

[2020-03-27 19:57] eddiejibson opened #73 "Encrypt the private key with a passphrase?"
Hi,

I'm building an application that requires a private key to be encrypted/decrypted with a passphrase. As this is not currently a feature, what advice would you give me regarding how I should go about this? Planning on obviously pushing any changes I make privately to enhance this.

Thanks

[2020-03-28 04:46] duyluong1994 commented on #6
Hi, i'm having this issue when using eosjs-ecc with angular (ng build doesnt build eosjs-ecc to dist).

[2020-06-17 01:12] shalakhin commented on #62
any update here?

[2020-06-17 05:29] shikhars371 commented on #7
hello sir, can you give me some reference on creating EOS active and owner keys by the help of mnemonic 12 words seed? please help me im stuck in this from past 4 days but no luck please help me

[2020-08-02 05:10] pur3miish opened #78 "EOSJS-ecc side channel attacks enquires."
What strategies have been developed if any to deal with side channel attacks.
Since eosjs-ecc is used client side, devices that sign transactions are potentially vulnerable to [differential power analysis](https://en.wikipedia.org/wiki/Power_analysis#Differential_power_analysis).

[2021-01-26 03:57] #78 closed, assigned to nobody

[2021-03-14 16:51] kcambridge commented on #62
please publish the types

[2021-07-13 12:17] ukstv opened #86 "Is the project dead?"

[2021-07-24 14:46] Viterbo commented on #62
Same problem here:
Could not find a declaration file for module 'eosjs-ecc'. '/home/viter/dev/vapaee-npm-libs/node_modules/eosjs-ecc/lib/index.js' implicitly has an 'any' type.

[2021-08-23 19:45] Lizard-King101 commented on #62
wen ts?

[2021-11-28 11:53] nimmortal commented on #86
Seems like, but you can use eosjs counterpart:
https://github.com/EOSIO/eosjs/blob/master/src/eosjs-ecc-migration.ts

[2021-11-28 11:54] nimmortal commented on #62
@Lizard-King101 you can use ts implementaion from eosjs:
https://github.com/EOSIO/eosjs/blob/master/src/eosjs-ecc-migration.ts
`import { ecc } from "eosjs/dist/eosjs-ecc-migration";`